@charset "UTF-8";

body {

    background-image: url(../imagens/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'VT323, monoespace';
    font-size: 18px;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}


.cartão {
    background-color: #070d12;
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px;
    overflow: hidden;
}
.cartão .minhas-informações img {
    width: 110px;
    border-radius: 50%;
    border: 4px solid #02d08f;
}
.cartão .minhas-informações {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cartão .minhas-informações .nome { 
    font-size: 26px;

}
.cartão .minhas-informações .cargo {
    font-size: 20px;
    color: #b8bbc5;
}
.cartão .conteudo {
 
    margin-top: 15px;
}
.cartão .abas {
    display: flex;
}
.cartão .abas .aba {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
 .cartão .abas img {
    width: 30px;
}
.cartão .abas .aba.selecionado {
    background-color: #262626;
}
.cartão .informação {
    background-color: #262626;
} 
.cartão .abas .aba:hover {
    background-color: #414141;
}
.informações-abas .informação {
    min-height: 260px;
    padding: 15px;
    display: none;
}
.informações-abas .informação.selecionado{
    display: block;
}

.informações-abas .sub-título {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}
.informações-abas .descrição {
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}
.informações-abas .descrição span {
    color: #02d08f
}
.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;

}
.redes-sociais li a {
    transition: opacity 0.3s ease-in-out;
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;

}
.redes-sociais li a:hover {
    opacity: 0.8;
}    
.redes-sociais .currículo {
    background-color: #1d87bd;
}
.redes-sociais .linkedin {
    background-color: #02d08f;
}
.redes-sociais .github {
    background-color: #545454;
}